<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638443988548-hj04cceu1m25hinr4djicd6rnsk2j7ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638443988548-hj04cceu1m25hinr4djicd6rnsk2j7ji</string>
	<key>API_KEY</key>
	<string>AIzaSyB0VesaYapGrT8W9-gFN9zVj-9Ex8BrXio</string>
	<key>GCM_SENDER_ID</key>
	<string>638443988548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.5fourlab.DesignCombine</string>
	<key>PROJECT_ID</key>
	<string>designcodecourse-27fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>designcodecourse-27fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638443988548:ios:0f505b0c5226ccd32bbe11</string>
</dict>
</plist>